
.home li {
  list-style-type: upper-roman;
}
.home li li {
  list-style-type: decimal;
}
.home .collection {
  border: 0;
}

body > .container {
  font-size: 1.25em;
}
.page-header {
  margin-bottom: 2rem;
}

.collection-header {
  font-weight: bold;
}